* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

/* .background {
  position: absolute;
  width: 100vw;
  height: 100vh;
} */

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(/assets/backgrounds.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  & .header {
    flex-grow: 0.1;
    display: flex;
    gap: 1em;
  }

  & .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 2em;
  }
}

.main-content {
  & .weather-content {
    width: 35vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    padding: 1em;

    & .conditions {
      font-size: 1.5rem;
      align-self: flex-end;
    }

    & .location {
      font-size: 3rem;
      align-self: flex-end;
    }

    & .weather-info {
      display: flex;
      flex-grow: 1;

      & .temp-area {
        flex-grow: 0.8;
        display: flex;
        justify-content: center;
        align-items: center;

        & p {
          font-size: 6rem;
        }
      }

      & .info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding: 1em;
        justify-content: center;
        gap: 1.5em;

        & p {
          font-size: 2rem;
        }
      }
    }
  }
}